extends layout

block content
    include header
    h2= brotherName
    br
    p JUN-LIN has his own business. He started his business three years ago. It is a Italian ice cream shop. It's located in Taiwan.

    include footer