extends layout

block content
    include header
    h2= fatherName
    br
    p JI-XING is retired now. He is enjoying his retired life. He likes to grow some vegetables and fruits.

    include footer