extends layout

block content
    include header
    h2= myName
    br
    p My name is KUAN-WEN LIU. I am the youngest person in our family. I am from Taiwan. I have been to in Canada for almost three years.
    p I am a compuber programmer student. It's my fourth semester.

    include footer