extends layout

block content
    include header
    h2= sisterName
    br
    p JIA-QIAN is a housewife. She has two children, a boy and a girl. The boy is two years old. The girl was just born a few months ago.

    include footer